In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})

In [ ]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
df["col2"].unique()

array([444, 555, 666])

In [ ]:
df["col3"].unique()

array(['abc', 'def', 'ghi', 'xyz'], dtype=object)

In [ ]:
df["col3"].nunique()

4

In [ ]:
df[(df["col2"] >500) & (df["col2"]<600)]

   col1  col2 col3
1     2   555  def

In [ ]:
df[df["col2"].between(500,600)]

   col1  col2 col3
1     2   555  def

In [ ]:
df["col4"]=df["col1"]**2

In [ ]:
df

   col1  col2 col3  col4
0     1   444  abc     1
1     2   555  def     4
2     3   666  ghi     9
3     4   444  xyz    16

In [ ]:
def l(x):
  return len(x)

In [ ]:
df["col5"]=df["col3"].apply(lambda x:l(x))

In [ ]:
df

   col1  col2 col3  col4  col5
0     1   444  abc     1     3
1     2   555  def     4     3
2     3   666  ghi     9     3
3     4   444  xyz    16     3

In [ ]:
del df["col5"]

In [ ]:
df

   col1  col2 col3  col4
0     1   444  abc     1
1     2   555  def     4
2     3   666  ghi     9
3     4   444  xyz    16